/* Window styling */
window {
  margin: 0px;
  border: 1px solid #7fbbb3; /* aqua */
  background-color: #2d353b; /* bg0 */
  border-radius: 7px;
}

/* Input bar */
#input {
  margin: 5px;
  border: none;
  color: #d3c6aa;            /* fg */
  background-color: #343f44; /* bg1 */
}

/* Inner box */
#inner-box {
  margin: 5px;
  border: none;
  background-color: #2d353b; /* bg0 */
}

/* Outer box */
#outer-box {
  margin: 5px;
  border: none;
  background-color: #2d353b; /* bg0 */
}

/* Scroll area */
#scroll {
  margin: 0px;
  border: none;
}

/* Default text */
#text {
  margin: 5px;
  border: none;
  color: #d3c6aa; /* fg */
}

/* Active entry text */
#entry.activatable #text {
  color: #2d353b; /* bg0 - for contrast */
}

/* Generic entries */
#entry > * {
  color: #d3c6aa; /* fg */
}

/* Selected entry background and highlight */
#entry:selected {
  background-color: #a7c080; /* green */
}

/* Selected entry text */
#entry:selected #text {
  font-weight: bold;
  color: #2d353b; /* bg0 - for contrast on green background */
}

/* Selected image receives no background */
#img:selected {
  background: none;
}

/* Selected text receives no background */
#text:selected {
  background: none;
}
