/* Window styling */
window {
  margin: 0px;
  border: 1px solid #8aadf4; /* blue */
  background-color: #24273a; /* base */
  border-radius: 7px;
}

/* Input bar */
#input {
  margin: 5px;
  border: none;
  color: #cad3f5;            /* text */
  background-color: #363a4f; /* surface0 */
}

/* Inner box */
#inner-box {
  margin: 5px;
  border: none;
  background-color: #24273a; /* base */
}

/* Outer box */
#outer-box {
  margin: 5px;
  border: none;
  background-color: #24273a; /* base */
}

/* Scroll area */
#scroll {
  margin: 0px;
  border: none;
}

/* Default text */
#text {
  margin: 5px;
  border: none;
  color: #cad3f5; /* text */
}

/* Active entry text */
#entry.activatable #text {
  color: #24273a; /* base - for contrast */
}

/* Generic entries */
#entry > * {
  color: #cad3f5; /* text */
}

/* Selected entry background and highlight */
#entry:selected {
  background-color: #8aadf4; /* blue */
}

/* Selected entry text */
#entry:selected #text {
  font-weight: bold;
  color: #24273a; /* base - for contrast on blue background */
}

/* Selected image receives no background */
#img:selected {
  background: none;
}

/* Selected text receives no background */
#text:selected {
  background: none;
}
