/* Window styling */
window {
  margin: 0px;
  border: 1px solid #907aa9; /* iris */
  background-color: #faf4ed; /* base */
  border-radius: 7px;
}

/* Input bar */
#input {
  margin: 5px;
  border: none;
  color: #575279;            /* text */
  background-color: #f2e9e1; /* surface */
}

/* Inner box */
#inner-box {
  margin: 5px;
  border: none;
  background-color: #faf4ed; /* base */
}

/* Outer box */
#outer-box {
  margin: 5px;
  border: none;
  background-color: #faf4ed; /* base */
}

/* Scroll area */
#scroll {
  margin: 0px;
  border: none;
}

/* Default text */
#text {
  margin: 5px;
  border: none;
  color: #575279; /* text */
}

/* Active entry text */
#entry.activatable #text {
  color: #faf4ed; /* base - for contrast */
}

/* Generic entries */
#entry > * {
  color: #575279; /* text */
}

/* Selected entry background and highlight */
#entry:selected {
  background-color: #907aa9; /* iris */
}

/* Selected entry text */
#entry:selected #text {
  font-weight: bold;
  color: #faf4ed; /* base - for contrast on iris background */
}

/* Selected image receives no background */
#img:selected {
  background: none;
}

/* Selected text receives no background */
#text:selected {
  background: none;
}
