#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    format_tag_separator: " | ",
    browser_column_widths: [20, 38, 42],
    background_color: "#2d353b",
    text_color: "#d3c6aa",
    header_background_color: "#343f44",
    modal_background_color: "#3a464c",
    preview_label_style: (fg: "#dbbc7f"),
    preview_metadata_group_style: (fg: "#dbbc7f", modifiers: "Bold"),
    tab_bar: (
        enabled: true,
        active_style: (fg: "#d3c6aa", bg: "#7fbbb3", modifiers: "Bold"),
        inactive_style: (fg: "#9da9a0"),
    ),
    highlighted_item_style: (fg: "#a7c080", modifiers: "Bold"),
    current_item_style: (fg: "#2d353b", bg: "#83c092", modifiers: "Bold"),
    borders_style: (fg: "#859289"),
    highlight_border_style: (fg: "#a7c080"),
    symbols: (song: "♫", dir: "", playlist: "", marker: "●", ellipsis: "…"),
    progress_bar: (
        symbols: ["╢", "━", "●", "─", "╟"],
        track_style: (fg: "#4f5b58"),
        elapsed_style: (fg: "#83c092"),
        thumb_style: (fg: "#a7c080", bg: "#4f5b58"),
    ),
    scrollbar: (
        symbols: ["║", "█", "▴", "▾"],
        track_style: (fg: "#4f5b58"),
        ends_style: (fg: "#859289"),
        thumb_style: (fg: "#83c092"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "35%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "#d3c6aa"),
                default: (kind: Text("Unknown Album"), style: (fg: "#d3c6aa"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "15%",
            alignment: Right,
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "#dbbc7f", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "#dbbc7f", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "#dbbc7f", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Title)), style: (modifiers: "Bold", fg: "#d3c6aa"),
                        default: (kind: Text("No Song"), style: (modifiers: "Bold", fg: "#d3c6aa"))
                    )
                ],
                right: [
                    (kind: Property(Widget(ScanStatus)), style: (fg: "#7fbbb3")),
                    (kind: Property(Widget(Volume)), style: (fg: "#7fbbb3"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed)), style: (fg: "#d3c6aa")),
                    (kind: Text(" / "), style: (fg: "#859289")),
                    (kind: Property(Status(Duration)), style: (fg: "#d3c6aa")),
                    (kind: Text(" ("), style: (fg: "#859289")),
                    (kind: Property(Status(Bitrate)), style: (fg: "#d3c6aa")),
                    (kind: Text(" kbps)"), style: (fg: "#859289"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#dbbc7f", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "#dbbc7f", modifiers: "Bold"))
                    ),
                    (kind: Text(" - "), style: (fg: "#859289")),
                    (kind: Property(Song(Album)), style: (fg: "#d3c6aa"),
                        default: (kind: Text("Unknown Album"), style: (fg: "#d3c6aa"))
                    )
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "#d3c6aa", modifiers: "Bold"),
                            separator_style: (fg: "#859289")))
                        ),
                        style: (fg: "#4f5b58")
                    ),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track), style: (fg: "#a7c080")),
                (kind: Text(" "), style: (fg: "#859289")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist), style: (fg: "#d3c6aa")),
                (kind: Text(" - "), style: (fg: "#859289")),
                (kind: Property(Title), style: (fg: "#d3c6aa")),
            ]),
            default: (kind: Property(Filename), style: (fg: "#d3c6aa"))
        ),
    ],
)
